<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105968116-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-105968116-3');
        </script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- HTML Meta Tags -->
        <title>The ultimate CLI learning tool</title>
        <meta
            name="description"
            content="Boost your productivity in the terminal with command explanations from kmdr"
        />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="The ultimate CLI learning tool" />
        <meta
            itemprop="description"
            content="Boost your productivity in the terminal with command explanations from kmdr"
        />
        <meta itemprop="image" content="https://ucarecdn.com/195361c4-cbdf-493a-a662-ee4b3a4f32ba/" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://kmdr.sh/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="The ultimate CLI learning tool" />
        <meta
            property="og:description"
            content="Boost your productivity in the terminal with command explanations from kmdr"
        />
        <meta property="og:image" content="https://ucarecdn.com/195361c4-cbdf-493a-a662-ee4b3a4f32ba/" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="The ultimate CLI learning tool" />
        <meta
            name="twitter:description"
            content="Boost your productivity in the terminal with command explanations from kmdr"
        />
        <meta name="twitter:image" content="https://ucarecdn.com/195361c4-cbdf-493a-a662-ee4b3a4f32ba/" />

        <!-- Meta Tags Generated via http://heymeta.com -->

        <meta name="msapplication-TileColor" content="#ffc40d" />
        <meta name="theme-color" content="#ffffff" />
        <% for (const css in htmlWebpackPlugin.files.css) { %>
        <link inline rel="stylesheet" src="<%= htmlWebpackPlugin.files.css[css] %>" />
        <% } %>
    </head>

    <body>
        <script src="auth_token.js"></script>
        <div>
            <% for (const js in htmlWebpackPlugin.files.js) { %>
            <script inline type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
            <% } %>
        </div>
    </body>
</html>
